<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduação</title>
    <link rel="stylesheet" href="/style.css">
</head>
    <h1>Graduação : Engenharia Mecânica</h1>

    <p>Sou formado em Engenharia Mecânica pela Unesp Ilha Solteira, e realizei um ano de intercâmbio em Ilmenau, na Alemanha pelo Programa Ciência sem Fronteiras</p>

    <div class="div_logos">
        <img class="logos" src="campus_ilha_solteira.jpg" alt="Logo Unesp Ilha Solteira" width="200" height="200">
        <img class="logos" src="tu_ilmenau.png" alt="Logo TU-Ilmenau" width="200" height="200">
    </div>

    <h2>Trabalho de Graduação</h2>

    <p>Meu trabalho de graduação foi sobre aproveitamento energético utilizando metano gerado pela biomassa prodizida por animais em sítios.</p>

    <p>Foi feita uma pesquisa de campo na minha cidade com algumas propriedades e a conclusão foi pela viabilidade observando sempre o gasto de energia e a quantidade de animais.</p>

    <p>Caso haja interesse segue o trabalho:</p>

    <iframe class="meu_tcc" src="tcc_edson.pdf" width="100%" ></iframe>

    <p>Uma curiosidade: ultilizei LaTex e Python para fazer o TCC.</p>
</html>

