<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edson Santos</title>
    <link rel="stylesheet" href="/style.css">
</head>
    <h1>Edson dos Santos</h1>

    <h2>Quem sou?</h2>

    <p>Tenho 29 anos, sou de <a href="https://pt.wikipedia.org/wiki/Ribeir%C3%A3o_do_Sul">Ribeirão do Sul - SP</a>, formado em Engenharia Mecânica pela UNESP de Ilha Solteira e atualmente estou migrando para a área de Desenvolvimento. </p>

    <p>Atualmente moro na cidade que nasci, mas já morei em Ilha Solteira, Jundiaí, e em Ilmenau, na Alemanha, onde fiz intercâmbio pelo programa Ciêcia sem Fronteiras.</p>

    <h2>O que gosto de fazer</h2>

    <p>Gosto de fazer caminhada com meu cachorro Jubileu, jogo um pouco de vez em quando, Brawl Stars no celular e Civilization 6 no PC, e tento fazer alguns hobbies como plantar, cozinhar, ler, assitir filmes e séres.</p>

    <iframe class="video_civ" width="600" height="800" src="https://thumbs.gfycat.com/GravePolishedAfricanelephant-mobile.mp4" frameborder="0" allowfullscreen></iframe>

    <h2>Meus Valores</h2>

    <p>Tenho como valores:</p>

    <ul>
        <li>Honestidade</li>
        <li>Respeito ao próximo</li>
        <li>Curiosidade e vontade de aprender</li>
    </ul>
</html>
