<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pull Requests</title>
        <link rel="stylesheet" href="/style.css">
    </head>
            <h1>Pull Requests</h1>

            <p>Esses são os Pull Requests referentes aos desafios porpostos no programa de Trainee da <a href="https://www.codeminer42.com/?locale=pt-BR">CodeMiner42</a>, eles estão disponíveis no meu <a href="https://github.com/edsonjfs">repositório do GitHub</a> </p>

            <h2>Desafio LogParser</h2>

            <p>Nesse desafio a proposta é realizar manipulações em arquivos e em seu conteúdo, extraindo informações e realizando operações. </p>

            <ul>
                <li><a href="https://github.com/edsonjfs/DesafioLogParser/pull/1"> Task 01</a></li>
                <li><a href=https://github.com/edsonjfs/DesafioLogParser/pull/2> Task 02</a></li>
                <li><a href=https://github.com/edsonjfs/DesafioLogParser/pull/3> Task 03</a></li>
                <li><a href="https://github.com/edsonjfs/DesafioLogParser/pull/5"> Task SimpleCov e Rubocop</a></li>
                <li><a href=https://github.com/edsonjfs/DesafioLogParser/pull/6> Task 04</a></li>
                <li><a href=https://github.com/edsonjfs/DesafioLogParser/pull/7> Task 05</a></li>
            </ul>

            <h2>Desafio Sinatra</h2>

            <p>A proposta desse desfaio é fazer uma aplicação web utilizando o Sinatra, entrgando três páginas e realizando testes</p>

            <ul>
                <li><a href="https://github.com/edsonjfs/sinatra_app/pull/1"> Mudança na estrututa dos diretórios</a></li>
            </ul>
</html>
